
html, body {
  height: 100%;
}

body {
  background-image: url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size: cover;
}

.container-address {
  padding-left: 25%;
  padding-right: 25%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.container-paul {
  padding-left: 25%;
  padding-right: 25%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

