<div class="jumbotron text-center">
   <h1 class="display-3">Error!</h1>
   <p class="lead"><strong>Oups! Seem like something wrong happened.</strong> Please try again!
   </p>
   <hr>
   <p>
      Having trouble? <a href="#">Contact us</a>
   </p>
   <p class="lead">
      <a class="btn btn-success btn-sm" href="/" role="button">Continue to homepage</a>
   </p>
</div>