{{!-- <div>
   <form onSubmit={this.handleSubmit}>
      <label name="fname">Prénom</label>
      <input name="fname" type="text" label="First Name" onChange={(e) => this.setState({ fname: e.target.value })} /><br />
      <label name="fname">Nom de famille</label>
      <input name="lname" type="text" label="Last Name" onChange={(e) => this.setState({ lname: e.target.value })} /><br />
      <label name="fname">Courriel</label>
      <input name="email" type="email" label="Email address" onChange={(e) => this.setState({ email: e.target.value })} /><br />
      <label name="fname">Mot de passe</label>
      <input name="password" type="password" label="Password" onChange={(e) => this.setState({ password: e.target.value })} /><br />
      <label name="fname">Confirmation du mot de passe</label>
      <input name="passCopy" type="password" label="Password" onChange={(e) => this.setState({ passCopy: e.target.value })} /><br />
      <button type="submit">Create Account</button>
   </form>
</div> --}}
